* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: auto;
  background-color: #ececec;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  font-style: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: #ff8b13;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}

.contentHeader {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 26px;
  padding-bottom: 20px;
}

.btnColor {
  color: black;
}

.mainCardContainer{
  background-color: black;
  width: 100%;
}

.cardContainer {
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  height: auto;
  color: white;

  margin-bottom: 40px;
}

.cardContainer img {
  height: 300px;
  border-radius: 10px;
}

.card-1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  padding: 20px;
  width: 340px;

  background-color: #ff8b13;
  border-radius: 20px;
}

.card-1  p {
  font-weight: 500;
  line-height: 1.5rem;
}

.cardInfo {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addButton {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  margin: 10px auto;
  border: none;
  background-color: #ececec;
}

.addButton:hover{
  background-color: #c7c7c7;
}


.addColor {
  color: #ff8b13;
  font-weight: 700;
}

.quantity {
  font-size: 1rem;
}
